*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body h1{
    letter-spacing: 20px;
    text-align: center;
    font-size: 6vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body h4{
    margin-left: 900px;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(https://img.freepik.com/free-vector/flat-woman-diet-control-normal-weight-with-bmi-scale_88138-933.jpg);
    background-repeat: no-repeat;
    background-color: black;
    
   
}

.outer{
    margin-left: 800px;
   
    width: 30vw;
    
  padding-left: 35px;
    height: 800px;
  background-image: url(https://as1.ftcdn.net/v2/jpg/02/74/19/28/1000_F_274192829_fTkt6KZgwhUCKD3N7zfGf1CybYubgjqB.jpg);
  box-shadow: 0 5px 85px rgb(177, 209, 49); 
 
}

.outer:hover{
    box-shadow: 0 5px 85px rgb(35, 36, 49); 
}

.gender{
    display: flex;
  ;
}
input[type="radio"] {
    width: 25px;    
    height: 25px;   
    transform: scale(1); 
 
}

input[type="text"], input[type="number"] {
    width: 300px;  
    background-color: rgb(230, 228, 228); 
}


#hover:hover{

    background-color: black;
    color: white;
}

